.personal-details h1{
    color: #818181;
    font-size: 24px;
}
.profile-form .form-label{
    color: #9F9F9F;
    font-size: 14px;
    margin-bottom: 0.1rem;
}
.profile-form .signup-form {
    padding: 10px 16px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #ced4da;
}