.nav-tabs .nav-link.active {
    background: linear-gradient(180deg, rgba(53, 167, 255, 0.87) 0%, rgba(53, 213, 229, 0.75941) 67.77%, rgba(53, 255, 207, 0.66) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: none;
    border-color: none;
    border: none;
    font-weight: 600;
    font-size: 30px;
}

.nav-link {
    padding: 20px 30px;
}

.nav-tabs .nav-link:hover {
    cursor: pointer;
}

.nav-tabs .nav-link {
    font-weight: 600;
    font-size: 30px;
    color: #464646;
    border: none;
}

.services-heading h1 {
    font-weight: 700;
    font-size: 60px;
    letter-spacing: 0.05em;
    font-feature-settings: 'liga' off;
    color: #15476D;
    padding-bottom: 1rem;
}

.services-heading p {
    font-weight: 400;
    font-size: 18px;
    line-height: 38px;
    letter-spacing: 0.015em;
    color: #737373;
}

.services-container {
    height: 1800px;
    width: 100%;
    color: white;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}
.delivery-container {
    height: 950px;
    width: 100%;
    color: white;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}
.all-services {
    height: 1800px;
    width: 100%;
    color: white;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat !important;
    object-fit: cover !important;
}

.all-services h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0.06em;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
}

.all-services p {
    font-size: 25px;
    color: #FFFFFF;
}
.all-services .services-underline{
    width: 100%;
    border: 2px solid #fff;
}

@media screen and (max-width: 500px) {
    .nav-link {
        padding: 10px 20px;
    }

    .nav-tabs .nav-link {
        font-size: 25px;
    }

    .nav-tabs .nav-link.active {
        font-size: 25px;
    }
}