.schedule-pickup h2{
    font-size: 24px;
    font-weight: 600;
    color: #818181;
}
.schedule-pickup p{
    font-size: 16px;
    font-weight: 500;
    color: #646464;
}
.pickup-form .form-label {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    color: #9F9F9F;
}
.pickup-form p{
    font-size: 16px;
    font-weight: 500;
    color: #646464;
}
.express-delivery p{
    font-size: 15px;
    font-weight: 500;
    color: #9F9F9F;
}
.express-delivery label {
    font-size: 15px;
    font-weight: 500;
    color: #464646;
}

.new-address-form input[type="checkbox"] {
    transform: scale(1.5); 
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1.5px solid #35A7FF;
    outline: none;
    cursor: pointer;
}
.new-address-form input[type="checkbox"]:checked {
    background-color: #35A7FF;
  }