.schedule-pickup h2{
    font-size: 24px;
    font-weight: 600;
    color: #818181;
}
.schedule-pickup p{
    font-size: 16px;
    font-weight: 500;
    color: #646464;
}
.pickup-form .form-label {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    color: #9F9F9F;
}
.pickup-form p{
    font-size: 16px;
    font-weight: 500;
    color: #646464;
}
.express-delivery p{
    font-size: 15px;
    font-weight: 500;
    color: #9F9F9F;
}
.express-delivery label {
    font-size: 15px;
    font-weight: 500;
    color: #464646;
}
.pickup-form .form-check-input[type=checkbox] {
    border-radius: 0.25em;
    border-color: #35A7FF;
}