.landing-page .landing-img {
    object-fit: cover;
    overflow: hidden;
}

.landing-page .landing-text h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 88px;
    color: #292929;
    letter-spacing: 0.015em;
    font-feature-settings: 'liga' off;
}

.landing-page .text-bar {
    border: 1px solid rgba(70, 70, 70, 1);
    width: 250px;
}

.landing-page .sub-text {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 20px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #464646;
}
.cards {
    position:relative;
    top: -50px;
}
.cards .card{
    border: none;
    border-radius: 20px;

}

.card .pickup{
    background: linear-gradient(180deg, rgba(9, 114, 195, 0.87) 0%, rgba(17, 183, 200, 0.75941) 67.77%, rgba(0, 198, 150, 0.66) 100%);
    display: flex;
    align-items: center;
    padding: 26px 11px;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #fff;
    font-size: 25px;
    line-height: 32px;
}
.card .deliveryparcel, .card .cleaning, .card .delivery{
    display: flex;
    align-items: center;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 26px 11px;
    font-size: 25px;
    line-height: 32px;
}






@media screen and (max-width: 1279px) {
    .landing-page .landing-text h1 {
        font-size: 70px;
        line-height: 80px;
    }
}

@media screen and (max-width: 1193px) {
    .landing-page .sub-text {
        font-size: 22px;
    }
}

@media screen and (max-width: 1133px) {
    .landing-page .landing-text h1 {
        font-size: 60px;
        line-height: 70px;
    }
}

@media screen and (max-width: 1163px) {
    .landing-page .sub-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 991px) {
    .landing-page .landing-text h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .landing-page .sub-text {
        font-size: 17px;
    }
    
}
@media screen and (max-width: 991px) and (min-width: 576px){
    .card .pickup img, .card .deliveryparcel img, .card .cleaning img, .card .delivery img{
        width: 40% !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 851px) {
    .landing-page .landing-text h1 {
        font-size: 44px;
        line-height: 60px;
    }

    .landing-page .sub-text {
        font-size: 15px;
    }

    .landing-page .text-bar {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }
}

@media screen and (max-width: 767px) {
    .landing-page .landing-text h1 {
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        padding-top: 1rem;
        color: #fff;
    }

    .landing-page .sub-text {
        font-size: 15px;
        padding-bottom: 2rem;
        text-align: center;
        color: #fff;
    }
    .bar-sm{
        display: flex;
        justify-content: center;
    }
    .landing-page .text-bar {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
        border: 1px solid #fff;
    }
    .landing-text {
        position: absolute;
        top: 30%;
    }
    .card .pickup, .card .deliveryparcel, .card .cleaning, .card .delivery{
        margin-bottom: 1rem;
    }

}
@media screen and (max-width: 393px){
    .landing-page .landing-text h1 {
        font-size: 35px;
        line-height: 45px;        
    }
    .landing-page .sub-text {
        font-size: 12px;
        padding-bottom: 2rem;
        text-align: center;
        color: #fff;
    }
} 
@media screen and (max-width: 330px){
    .landing-text {
        top: 25%;
    }
    .landing-page .landing-text h1 {
        font-size: 30px;
        line-height: 40px;        
    }
    .landing-page .sub-text {
        font-size: 12px;
        padding-bottom: 2rem;
        text-align: center;
        color: #fff;
    }
    .main-heading{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
