.contact-page h4 {
    background: linear-gradient(180deg, rgba(53, 167, 255, 0.87) 0%, rgba(53, 213, 229, 0.75941) 67.77%, rgba(53, 255, 207, 0.66) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    padding-top: 4rem;
}

.contact-page h2 {
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 0.015em;
    color: #3A3A3A;
    text-align: center;
}

.contact-cards .card {
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px 20px;
}

.contact-cards h4 {
    font-weight: 700;
    font-size: 22px;
    line-height: 54px;
    letter-spacing: 0.08em;
    background: linear-gradient(180deg, rgba(53, 167, 255, 0.87) 0%, rgba(53, 213, 229, 0.75941) 67.77%, rgba(53, 255, 207, 0.66) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-cards p {
    font-weight: 400;
    font-size: 22px;
    line-height: 54px;
    letter-spacing: 0.015em;
    text-align: center;
    font-feature-settings: 'liga' off;
    color: #292929;
}

.contact-underline {
    background: linear-gradient(180deg, rgba(53, 167, 255, 0.87) 0%, rgba(53, 213, 229, 0.75941) 67.77%, rgba(53, 255, 207, 0.66) 100%);
    border: 2px solid rgba(53, 255, 207, 0.66);
    width: 45px;
}