.partners-heading h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0.015em;
    font-feature-settings: 'liga' off;
    color: #292929;
}

.partner-container {
    height: 703px;
    width: 100%;
    color: white;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat !important;
    object-fit: cover !important;
}

.partners-reasons {
    font-weight: 900;
    font-size: 42px;
    line-height: 54px;
    color: #fff;
    text-align: center;

}

.partner-container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.partner-container ul li {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    margin-left: 1rem;
}

.get-in-touch h1 {
    font-weight: 500;
    font-size: 45px;
    line-height: 88px;
    color: #292929;
    text-align: center;
}

.get-in-touch p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #818181;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2rem;
}

.partners-form input {
    padding: 16px 20px 16px 11px;
    background: #EEEEEE;
    border-radius: 10px;
    border: none;
}

.partners-form input::placeholder {
    padding-left: 2rem;
}

.partners-form textarea {
    padding: 16px 20px 16px 11px;
    background: #EEEEEE;
    border-radius: 10px;
    border: none;
}
.partners-form textarea::placeholder{
    padding-left: 2rem;
    font-size: 20px;
}

@media screen and (max-width: 991px) {
    .partner-container ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .partner-container ul li {
        font-size: 21px;
        line-height: 32px;
    }
}

@media screen and (max-width: 767px) {
    .get-in-touch p {
        font-size: 18px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 500px) {
    .partner-container ul {
        padding-left: 1rem;
    }

    .partner-container ul li {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 18px;
        line-height: 22px;
    }
}