.costumers-data thead tr th {
    font-size: 14px;
    color: #B5B7C0;
    font-weight: 500;
}

.costumers-data tbody tr td {
    color: #292D32;
    font-size: 14px;
    font-weight: 500;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.costumers-data tbody tr td .email{
    font-size: 10px;
    font-weight: 400;
    color: #818181;
}

.costumers-data .active button {
    color: #008767;
    background-color: #76f8da;
    border: 1px solid #00B087;
    border-radius: 4px;
    font-size: 14px;
}

.costumers-data .inactive button {
    color: #DF0404;
    background-color: #FFC5C5;
    border: 1px solid #DF0404;
    border-radius: 4px;
    font-size: 14px;
}

@media (max-width: 500px) {

    tbody,
    tr {
        display: block;
    }

    .px-1-sm {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
}